:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #380a53;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body{
  scroll-behavior: smooth;
}

.header {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
 }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: #380a53;
}

main{
  max-width: 800px;
  margin: auto;
}

input{
  background-color: #461b5d;
  border-radius: 50px;
}

p{
  background-color: #ffcc00;
  max-width: 70%;
  padding: 15px;
  border-radius: 50px;
}

p span{
  margin: 5px;
  color: #000000
}

p span:first-child{
  margin-right: 0;
}

.user_msg{
  text-align: right;
  margin-left: 30%;
  display: flex;
  flex-direction: row-reverse;
}

.hide {
  visibility: hidden;
  display: none;
}

form{
  text-align: center;
  position: sticky;
  bottom: 0;
}

input{
  width: 100%;
  height: 40px;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  background-color: rgb(28, 23, 23);
}

input:focus{
  outline: none;
}


.button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.enabled-button {
  background-color: #461b5d;
  color: white;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-right: 8px;
  margin-bottom: 20px;
}

.disabled-button { /* Styles for the disabled button */ 
  background-color: #ffffff00;
  color: #ffffff00; 
  cursor: not-allowed; 
  pointer-events: none;
  border-radius: 0px;
  padding: 0px 0px;
  font-size: 0px;
  border: 0px solid #ffffff00;
  margin-right: 0px;
  margin-bottom: 0px;
  }
  

  .used-button {
    background-color: #1b0824;
    color: white;
    cursor: not-allowed; 
    pointer-events: none;
    border-radius: 50px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-right: 8px;
    margin-bottom: 20px;
  }