:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  background-image: url("./assets/swap_chat_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  scroll-behavior: smooth;
}

.header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

.pending_message {
  background-color: #000000;
  color: #ffffff;
  font-size: 1em;
  min-width: 200px;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
 }

main{
  width: 50%;
  margin: auto;
  align-items: center;
}


p {
    background-color: #ab7df9;
    color: #000000;
    max-width: 60%;
    padding: 15px;
    margin-left: 10px;
    border-radius: 10px;
}

p span{
  margin: 5px;
  color: #000000;
}

p span:first-child{
  margin-right: 0;
}

.user_msg{
  text-align: right;
  margin-left: 40%;
  background-color: #f7c160;
  margin-right: 10px;
  opacity: 80%;
  max-width: 70%;
  border-radius: 10px;
}

.chat_box{
  margin-top: 20px;
  min-width: 200px;
  background-color: rgba(56, 10, 83, .56);
  border: 1px solid rgba(255, 255, 255, .05);
  backdrop-filter: blur(14px);
  height: 600px;
  -webkit-backdrop-filter: blur(14px);
  border-radius: 8px;
  overflow: scroll;
  border-bottom-left-radius: 0; /* Set the top left corner to have 0 border radius */
  border-bottom-right-radius: 0;
}

.hide {
  visibility: hidden;
  display: none;
}

form{
  position: sticky;
  bottom: 0;
}

input{
  width: 90%;
  height: 40px;
  border: none;
  opacity:90%;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1rem;
  background-color: rgb(28, 23, 23);
}

input:focus{
  outline: none;
}


.button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 8px;
}

.enabled-button {
  background-color: #461b5d;
  color: white;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-right: 8px;
  margin-bottom: 20px;
}

.button-pair {
  display: inline-block;
}

.disabled-button { /* Styles for the disabled button */ 
  background-color: #ffffff00;
  color: #ffffff00; 
  cursor: not-allowed; 
  pointer-events: none;
  border-radius: 0px;
  padding: 0px 0px;
  font-size: 0px;
  border: 0px solid #ffffff00;
  margin-right: 0px;
  margin-bottom: 0px;
  }
  

.used-button {
  background-color: #1b0824;
  color: white;
  cursor: not-allowed;
  pointer-events: none;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  margin-right: 8px;
  margin-bottom: 20px;
}